@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* Normalize margins and paddings */
html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Normalize font and line-height */
body {
  font-size: 16px;
  /* line-height: 1.5; */
}

/* Normalize box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
